.loading-container {
  display: flex;
  height: 90vh;
  width:100%;
  position:absolute;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
}

.loading-text {
  margin-bottom:10px;
  font-size:24px;
  text-align: center;
}

.chipotle-logo-loading {
  background: url("/images/chipotle.png");
  background-size: 250px 250px;
  display:block;
  width:250px;
  height:250px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}