.location-box {
  height:150px;
  width:350px;
  position: absolute;
  right:25px;
  top:100px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.location-input-container {
  width:100%;
  padding-top:10px;

  .location-input {
    margin-left: 10px;
    margin-right: 10px;
    width:250px;
    font-size:18px;
    height:30px;
  }

  .search-button {
    height:30px;
  }
}

.site-title {
  font-size: 18px;
  color: red;
}