.sell-container {
  display:flex;
  flex-direction:column;
}

.sell-row {
  display: flex;
  flex-direction: row;
  width: 400px;

  @media (min-width: 768px) {
    width:700px;
  }

  @media (min-width: 1050px) {
    width:1000px;
  }

  margin-bottom: 10px;
  align-items: baseline;
  font-size: 18px;

  .left-column {
    width:20%;
  }

  .right-column {
    width: 80%;
  }

  .big-select {
    width:300px;
  }

  .title-input {
    width:500px;
    height:25px;
    font-size:18px;
  }

  select {
    font-size:18px;
  }

  .condition-select {
    font-size:18px;
    width:200px;
    color:black;
  }

  .photo-upload {
    padding:10px;
  }


  .details-select-container {
    display:flex;
    flex-direction: row;
    width:400px;
    flex-wrap: wrap;

    .detail-select {
      display:flex;
      flex-direction:column;
      margin-right:30px;
      margin-top:30px;
      width:150px;
    }
  }

  .uploaded-photos-container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

    .uploaded-photo {
      margin-top:10px;
      margin-right:5px;
      width: 100px;
      height:100px;
      background-color: red;
    }
  }
}


.dropdown-select {
  font-size:18px !important;
}